<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet_front_left" args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/frontleft/camera_info" />
    <remap from="image_rect" to="/spot/depth/frontleft/image" />
    <remap from="points" to="/points/frontleft" />
    <rosparam>
      target_frame: gpe
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="nodelet_front_right" args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/frontright/camera_info" />
    <remap from="image_rect" to="/spot/depth/frontright/image" />
    <remap from="points" to="/points/frontright" />
    <rosparam>
      target_frame: gpe
    </rosparam>
  </node>

</launch>