<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/points/combined" />
      <!-- <remap from="scan" to="/camera/scan" /> -->
      <rosparam>
        target_frame: gpe
        min_height: 0.1
        max_height: 1.0
        angle_min: -3.14
        angle_max: 3.14
        range_min: 0.2
        range_max: 4.0
      </rosparam>
    </node>
</launch>