<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Forward Mount -->

  <joint name="lidar_mount_forward_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_mount_forward" />
    <origin xyz="0.1 -0.097 0.075" rpy="1.57 0 1.57" /> <!-- x: Forward/Back, y: Left/Right, z: Up/Down-->
  </joint>

  <link name="lidar_mount_forward">
    <visual>
      <geometry>
        <mesh filename="package://spot_pkg/spot_description/meshes/Spot_Top.stl" scale="0.0009 0.0009 0.0009" />
      </geometry>
      <material name="Material_Color">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://spot_pkg/spot_description/meshes/Spot_Top.stl" />
      </geometry>
    </collision>
  </link>

  <!-- Back Mount -->

  <joint name="lidar_mount_back_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_mount_back" />
    <origin xyz="-0.05 -0.097 0.075" rpy="1.57 0 1.57" /> <!-- x: Forward/Back, y: Left/Right, z: Up/Down-->
  </joint>

  <link name="lidar_mount_back">
    <visual>
      <geometry>
        <mesh filename="package://spot_pkg/spot_description/meshes/Spot_Top.stl" scale="0.0009 0.0009 0.0009" />
      </geometry>
      <material name="Material_Color">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://spot_pkg/spot_description/meshes/Spot_Top.stl" />
      </geometry>
    </collision>
  </link>

  <!-- Sick tim Lidar -->

  <joint name="sick_tim_joint" type="fixed">
    <parent link="lidar_mount_forward" />
    <child link="sick_tim" />
    <origin rpy="-1.57 -1.57 0" xyz="0.1 0.12 0.09"/>
  </joint>

  <link name="sick_tim">
    <visual>
      <geometry>
        <mesh filename="package://sick_tim/meshes/sick_tim551.stl" />
      </geometry>
      <material name="grey" >
        <color rgba="1 0.1 0.1 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://sick_tim/meshes/sick_tim551.stl" />
      </geometry>
    </collision>
  </link>

</robot>
